#usersPage {
	.usersMain {
		background-color: white;
	}

	.user {
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
	}

	.usersFooter {
		background-color: white;
		height: 500px;
	}

}