<section id='review'>
  <form class='reviewForm col-xs-10 col-xs-offset-1' ng-submit='createReview()'>
      <h3><b>Your Review Here:</b></h3>
      <br>
      Title:  <input type='text' class="form-control reviewTitle" name='title' ng-model="newReview.title" required>
      <br>
      <br>
      Score:  <select class="form-control reviewScore" ng-model="newReview.score" required>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
      <br>
      <br>
      Feedback: <textarea class="feedback form-control" rows="7" type='text' name='feedback' ng-model="newReview.feedback" required></textarea>
      <br>
      <button class="btn btn-success" type="submit" ng-disabled="playlistForm.$invalid">Create Review</button>
  </form>
</section>