#home {
  background-color: #780912;
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }

  h1 {
    margin-top: 40px;
    text-align: center;
  }

  .upperHome {
  	margin-bottom: 0px;
    margin-top: 0px;
    img {
      display: block;
      margin: auto;
      height: 40%;
      width: 100%;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }


  .filterPanel .form-group {
    background-color: black;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px;
    text-align: right;
    color: white;
  }
/*
  .form-group .filterPanelXsSm {
    background-color: black;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 0px;
    text-align: right;
    color: white;
   
  }
*/

  .productRating {
    font-weight: bold;
  }

  select {
    font-size: 18px;
    padding: 0px;
  }



  .filterLabel {
    margin: 5px;
    color: white;
  }

  .filterBox {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
  }

  .filterBoxLast {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
  }

  .lowerHome {
    text-align: center
  }

  .product {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    text-align: center;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .productLabel {
    color: #780912;
    font-weight: bold;
  }

  .btn {
    border-radius: 2px;
  }

  h4 {
    margin-top: 5px;
  }

  .prodImage {
    display: block;
    margin: auto;
    img {
      display: block;
      margin: auto;
      border: 2px solid #ddd;
      border-radius: 5px;
	    width:  200px;
	    height: 200px;
    }
    img:hover {
      border: 2px solid #780912;
      cursor: pointer;
    }
	}



  .productsBtn {
    margin: 2px;
  }

	.productLink {
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
	}	


}

