<section id="signup">
  <div class="col-xs-10 col-xs-offset-1 signupTop">
  </div>
  <div class="col-xs-10 col-xs-offset-1 signupMain">
  <br>
  <h4><b>Fill in Your Details<b></h4>
  <br>
  <form id="signUpForm" ng-model='newUser' class="signUpForm" ng-submit='sendSignUp()'>
  <b>First Name:</b><br>
                  <input id='text' type="text" ng-model="newUser.firstName"></br>
                  <b>Last Name: </b><br>
                  <input type="text" ng-model="newUser.lastName"><br>
                  <b>Email: </b><br>
                  <input type="text" ng-model="newUser.email"><br>
                  <b>Password: </b><br>
                  <input type="password" ng-model="newUser.password"><br>
                  <b>Address: </b><br>
                  <input type="text" ng-model="newUser.address"><br>
                  <br>
   				<input type="submit" class="btn btn-success" value="Submit">
  </form>

    <div class="or buffer">
      <div class="back-line"><span class="orText"><br><b></b></span></div>
    </div>
    <div class="bufferOauth">
      <p class="oauthLink"><oauth-button provider-name="Google"></oauth-button></p>
    </div>
  </div>
  </div>
</section>