
<form ng-model='newUser' name ="signUpForm" ng-submit='sendSignUp()'>
First Name:<br>
                <input type="text" ng-model="newUser.firstName"></br>
                Last Name: <br>
                <input type="text" ng-model="newUser.lastName"><br>
                Email: <br>
                <input type="text" ng-model="newUser.email"><br>
                Password: <br>
                <input type="password" ng-model="newUser.password"><br>
                Address: <br>
                <input type="text" ng-model="newUser.address"><br>
                <br>
 				<input type="submit" value="Submit">
</form>