<section id="usersPage">
    <div class="row">
        <div class="usersMain col-xs-10 col-xs-offset-1">
            <h1>All Users:</h1>
                <div class="user" ng-repeat="user in users" >
                    First Name: {{ user.firstName }}
                	<br>
                	Last Name: {{ user.lastName }}
                	<br>
                	Email: {{ user.email }}
                	<br>
                	Address: {{ user.address }}
                	<br>
                    <button class="btn btn-warning" ng-click='removeUser(user.id)'>Remove User</button>
                </div>
        </div>
        <div class="usersFooter col-xs-10 col-xs-offset-1">
        </div>

    </div>
</section>