#order {
	.orderMain {
  	background-color: white;
  }

  .orderHeader {
  	font-weight: bold;
  }

  .order {
  	font-size: 16px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	border-bottom: 2px solid #ddd;
  	margin-bottom: 10px;

  }

  img {
  	height: 150px;
  	width: 150px;
  }

  button {
  	margin-top: 10px;
  }

  .orderProduct {
  	padding-bottom: 10px;
  	padding-top: 20px;
    border-bottom: 1px solid #ddd;

  }

  .orderFooter {
  	padding-top: 5px;
  	padding-bottom: 10px;
  	font-size: 16px;
  }

  .orderBtm {
    height: 800px;
    background-color: white;
  }

}