<section id='login'>
    <div class='background'>

        <div class="col-xs-10 col-xs-offset-1 loginMain" >
            <br>
            <div class='loginForm'>
                <form class="form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

                    <alert type="danger" ng-show="error">
                        {{ error }}
                    </alert>

                    <div class="form-group">
                        <label for="email"><h3>Email address</h3></label>
                        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="login-password"><h3>Password</h3></label>
                        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default btn-warning">Log In</button>
                </form>
            </div>
            <br>
        </div>
    <div class="col-xs-10 col-xs-offset-1 loginBtm">
    </div>
    </div>
</section>