<section id="cart">
		<h3 ng-hide="emptyCart">Your Cart:</h3>
        <h3 ng-show="emptyCart">Your Cart is Empty.</h3>
    <div ng-repeat="cartItem in cartItems">
    	<img src="{{ cartItem.product.imageUrl }}" height=80 ><br>
    	You are buying {{ cartItem.product.name }} at price {{ cartItem.product.price }}.
    	<br>
    	You ordered {{ cartItem.quantity }} of this item.
    	<br>
    </div>
    <h3>Total Price: $ {{ totalPrice }}</h3>
    <br>
    <form name="checkoutForm" ng-hide="emptyCart" class="form-horizontal" ng-submit="checkout()"> 
    	<fieldset>
    		<legend>Deliver To: </legend>
    		<div class="form-group">
    			<input type="text" ng-value="defaultAddress" name="addressField" class="form-control" type="text" ng-model="typedAddress" ng-minlength="8" required>
    		</div>
    		<div>
    			<button type="submit" class="btn btn-success" ng-disabled="checkoutForm.$invalid">Confirm Purchase</button>
    		</div>
    	</fieldset>
    </form>
</section>
