<section id="cart">
  <div class="col-xs-10 col-xs-offset-1 cartMain">

    <h3 class="cartLabel" ng-hide="emptyCart">Your Cart:</h3>
    <h3 class="cartLabel" ng-show="emptyCart">Your Cart is Empty.</h3>

    <div class="row cartItem" ng-repeat="cartItem in cartItems">

      <div class="col-xs-12 col-md-3 cartItemImg">
      	<img src="{{ cartItem.product.imageUrl }}">
      </div>
      <div class="col-xs-12 col-md-9 cartItemPanel">
        <br>
        Item: {{ cartItem.product.name }} {{ cartItem.product.category }}
        <br>
        Unit Price: ${{ cartItem.product.price }}
        <br>
        Quantity Ordered: {{ cartItem.quantity }}
        <br>
        <br>
          Update Quantity here:<br>
          <select class="form-control" ng-model='data.quantityVal' ng-options='number for number in quantity'>
          </select><button class="btn btn-primary" ng-click='updateQuantity(cartItem.product.id,data.quantityVal)'>Update Quantity</button>
          <button class="btn btn-warning" ng-click='removeItem(cartItem.product.id)'>Remove Item</button>
      </div>

    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 cartBtm">
    <!-- Cart MetaData -->
    Total Amount Chargeable: ${{ totalPrice }}
    <br>
    <button type="submit" class="btn btn-success" ng-click="checkout()">Checkout</button>
  </div>
  <div class="col-xs-10 col-xs-offset-1 footer">
  </div>
</section>
