* {
  box-sizing: border-box;
}

body {
  background-color: #780912;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 0px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'product/main';
@import 'cart/main';
@import 'order/main';
@import 'review/main';
@import 'account/main';
@import 'createProduct/main';
@import 'user/main';


