#createProduct {
	.main {
		background-color: white;
	}
	.btm {
		background-color: white;
		padding-top: 20px;
		button {
			margin-bottom: 30px;
		}
		height: 1000px;
	}
	
	.form-control {
		display: inline-block;
		width: 300px;
	}

	.form {
		width: 100%;
  	margin: 0 auto;
	}

	button {
	margin: 0 auto;
	}
}